{% extends "problem/list.html" %}

{% block title_row %}
    {% set tab = 'problem-list' %}
    {% include "organization/tabs.html" %}
{% endblock %}

{% block before_problem_table %}
<div class="problem-list-mode-toggle">
    <a href="{{ url('problem_list_organization', organization.slug) }}"
       class="toggle-btn" id="btn-own-problems">
        <i class="fa fa-puzzle-piece"></i> {{ _('Problems') }}
    </a>
    <a href="{{ url('used_problem_list_organization', organization.slug) }}"
       class="toggle-btn active" id="btn-used-problems">
        <i class="fa fa-list-alt"></i> {{ _('Used problems') }}
    </a>
</div>
{% endblock %}
